.header-img{
    width: 60%;
    height: 60%;
    max-width: 300px;
    bottom: 2.6rem;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.header-container{
    width: 60vw;
    height: 60vw;
    position: absolute;
    background-image: url('../assets/canvas.webp');
    background-size: contain;
    background-repeat: no-repeat;
    top: 10vh;
    animation: upAndDownLoop 5s infinite;
}

@keyframes upAndDownLoop {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1rem);
    }

    100% {
        transform: translateY(0);
    }
    
}