.header-container {
  width: 90vw;
  max-width: 400px;
  height: 90vw;
  max-height: 400px;
  position: absolute;
  background-image: url("../assets/canvas.webp");
  background-size: contain;
  background-repeat: no-repeat;
  top: 6vh;
  animation: upAndDownLoop 5s infinite;
}

.header-img {
  width: 40%;
  height: 40%;
  max-width: 300px;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

@keyframes upAndDownLoop {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1rem);
  }

  100% {
    transform: translateY(0);
  }
}

@media screen and (max-height: 759px) and (width> 635px) and (width < 1024px) {
  .header-container {
    font-size: 0.7rem;
    top: 50vh;
    width: 450px;
    left: 1%;
    animation: none;
    transform: translateY(-50%);
  }
  .header-img {
    height: auto;
    width: 35%;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
