.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-image: url("../assets/canvas-menu.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    padding: 3rem;
    padding-bottom: 2rem;
    margin: 0;
    animation: slideDownAndGrow 300ms ease-in-out forwards;
    position: absolute;
    font-size: 0.9rem;
    top: 40vh;
    height: 40vh;
    border-radius: 1rem;
}

.typed-text {
    overflow-y: scroll;
}

.canvas-button {
    position: absolute;
    top: 95%;
    z-index: -1;
    animation: buttonAppear 500ms ease-in-out forwards;
}

.slide-out {
    animation: slideUpAndShrink 400ms ease-in-out forwards;
}

@keyframes buttonAppear {
    0% {
        transform: translateY(-30%) rotate3d(1, 0, 0, 160deg);
    }

    100% {
        transform: translateY(0) rotate3d(1, 0, 0, 0deg);
    }

}

@keyframes slideUpAndShrink {
    0% {
        transform: translateY(0) scaleY(1);
    }

    100% {
        transform: translateY(-10vh) scaleY(0);
    }
}

@media screen and (max-height: 790px) {
    .container {
        font-size: 0.8rem;
        top: 45vh;
        height: 45vh;
    }
}