.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: #244861;
    color: white;
    padding: 1.5rem;
    margin: 0;
    border: 5px solid black;
    border-top: 5px solid #436883;
    border-right: 5px solid #233542;
    animation: slideInFromLeft 300ms ease-in-out forwards;
    position: absolute;
    font-size: 0.9rem;
    top: 40vh;
    height: 40vh;
    border-radius: 1rem;
}

.slide-out {
    animation: slideOutToRight 300ms ease-in-out forwards;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutToRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

@media screen and (max-height: 790px){
    .container {
        font-size: 0.8rem;
        top: 45vh;
        height: 45vh;
    }
}