@font-face {
  font-family: 'pixel';
  src: url('./assets/fonts/prstartk.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: pixel;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

button {
  background-color: transparent;
  border: none;
}

.btn {
  background-image: url('./assets/btn.webp');
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 1.3rem;
  cursor: pointer;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.btn a {
  width: 200px;
  height: 50px;
  text-decoration: none;
}

#spaceship {
  position: absolute;
  width: 3rem;
  top: 0;
  left: 50%;
  animation: comeAndGo 30s ease-in-out infinite;
}

@keyframes comeAndGo {
  0% {
    transform: translateX(100vw) rotate(-90deg);
  }

  50% {
    transform: translateX(-100vw) rotate(-90deg);
  }

  50.1% {
    transform: translateX(-100vw) rotate(90deg);
  }

  100% {
    transform: translateX(100vw) rotate(90deg);
  }
}